@import '~bootstrap/dist/css/bootstrap.min.css';

h1, p {
  font-family: Lato;
}
#container{
  margin: auto;
  background-color: lightblue;
  border: 1px solid black;
}
#row>div{
  width:49px;
  height: 50px;
  border: 1px solid black;
  float: left;
  text-align:center;
}
.colElem{
  top: 25%;
  position: relative;
}
.inline-block{
  display: inline-block;
  width: 100%;
}
.w-80{
  margin: auto;width: 80%;
  /* display: none; */
}
#inputCstm{
  font-size: 15px;
  font-weight: 600;
  display: none;
}