@import '~bootstrap/dist/css/bootstrap.min.css';

h1, p {
  font-family: Lato;
}
#container{
  margin: auto;
  background-color: lightblue;
  border: 1px solid black;
}
#row>div{
  width:50px;
  height: 50px;
  border: 1px solid black;
  float: left;
  text-align:center;
}
.colElem{
  padding-top:15px;
}
.inline-block{
  display: inline-block;
  width: 100%;
}
.w-80{
  margin: auto;width: 80%;
  /* display: none; */
}
#inputCstm{
  font-size: 12px;
  font-weight: 600;
  display: none;
}
#inputCstm>form>input{
  padding: 5px;
  border-radius: 5%;
  padding-bottom: 3px;
}
.timer{
  float:right;
  margin-right: 50px;
  font-size: 25px;
}
#gridContainer>div>h6{
  width:100px;
  margin:0;
  float: left;
}
#gridContainer{
  display: none;
}