<div>
<h1>Puzzle !</h1>
<button type="button" class="btn btn-danger m-2" ng-click="reload()">Reloaad</button>
<span id="timerCount" class="timer">
  <span ng-model="hour">{{hour}}:</span><span ng-model="min">{{min}}:</span><span ng-model="sec">{{sec}}</span></span><span id="showTime" class="timer"></span>
<div id="inputCstm">
	<form>
		<label><i>Enter the no of Rows</i></label>
		<input placeholder="Enter no greater than 2" ng-model="val">
		<button class="ml-1 btn btn-success" ng-click="setcofigureGrid()">Punch</button>
	</form>
</div>
</div>
<hr>


<div id="gridContainer" class="container" ng-model="arr">
  <div id="container" class="card m-2" >
	<div id="row" ng-repeat="item in arr track by $index">
		<div id="col{{$parent.$index}}{{$index}}" ng-repeat="item1 in item track by $index" class="colElem">{{item1}}
		</div>
	</div>
</div>
<div class="count m-2">
  <h6>Move Count:-</h6>
  <span ng-model="moves">{{moves}}</span>
</div>
  <button id="undo" type="button" class="btn btn-secondary m-1" ng-click="undoSteps(arr)">Undo</button>
</div>


<div class="inline-block m-3 ">
	<div id="hideButtons" class="m-auto w-80">
		<div class="mb-5">
			<h3>Select Level...</h3>
		</div>
		<button type="button" class="btn btn-primary m-1" ng-model="rwcl" ng-click="cofigureGrid(3)">Easy</button>
		<button type="button" class="btn btn-secondary m-1" ng-click="cofigureGrid(4)">Medium</button>
		<button type="button" class="btn btn-success m-1" ng-click="cofigureGrid(5)">Difficult</button>
		<button type="button" class="btn btn-danger m-1" ng-click="setcofigureGrid()">custome</button>
	</div>
	<div>